body {background: white; padding-left: 5px;}
h1 {font: normal 30pt Tahoma, Geneva, sans-serif; color: #555555;}

.banner {font: 32pt Verdana, Lucida, Helvetica, sans-serif; width 90%;color: #ee0000;}

.articleList {background: #ffffff; padding-left: 10px; padding-right: 10px; width: 100%; }
